@namespace CulinaryCommand.Components
@using Microsoft.AspNetCore.Components.Authorization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/landing.css" />
    <link rel="stylesheet" href="CulinaryCommand.styles.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <HeadOutlet />
</head>


<body>
    @* <Routes @rendermode=RenderMode.InteractiveServer /> *@

   <CascadingAuthenticationState>
        <Routes @rendermode="InteractiveServer"/>
    </CascadingAuthenticationState>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="_framework/blazor.server.js"></script>
</body>

</html>
