# ============================
# Build Folders
# ============================
/bin/
/obj/
/publish/

# ============================
# Visual Studio / IDE
# ============================
.vs/
*.user
*.suo
*.cache
*.VC.db
*.VC.opendb
.vscode/

# ============================
# Logs
# ============================
logs/
*.log

# ============================
# Runtime / OS
# ============================
*.pid
*.seed
*.db
*.DS_Store


# ============================
# Publish output
# ============================
publish/
