@inject NavigationManager NavigationManager

@inherits LayoutComponentBase
@using CulinaryCommand.Models
@using CulinaryCommand.Services
@inject CulinaryCommand.Services.AuthService Auth
@inject NavigationManager Nav
@using System.Threading.Tasks


<div class="page">
  <div class="sidebar"><NavMenu /></div>

  <main>
    <div class="top-row px-4 d-flex justify-content-end align-items-center">
        <LocationSelector />
        <ProfileDropdown />
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>


