@rendermode InteractiveServer
@implements IDisposable
<div class="employee-dashboard">
    <h2 class="mb-4 text-warning">Employee Dashboard</h2>
    <p>Welcome, </p>

    <ul>
        <li>View your active tasks and prep items</li>
        <li>Check your assigned location: </li>
        <li>Submit updates to your manager</li>
    </ul>
</div>

@code {
    [Inject] private CulinaryCommand.Services.LocationState LocationState { get; set; } = default!;

    private async void HandleLocationStateChanged()
    {
        await InvokeAsync(async () =>
        {
            StateHasChanged();
        });
    }
    
    protected override void OnInitialized()
    {
        // Subscribe to the change event
        LocationState.OnChange += HandleLocationStateChanged;
    }

    public void Dispose()
    {
        LocationState.OnChange -= HandleLocationStateChanged;
    }
}
