@page "/onboarding"
@namespace CulinaryCommand.Components.Pages
@layout CulinaryCommand.Components.Layout.PublicLayout
@rendermode InteractiveServer

<h2>Onboarding</h2>
<p>You’re signed in, but you don’t have any locations assigned yet.</p>
<a class="btn btn-outline-danger" href="/logout">Log out</a>
