@page "/dashboard"
@rendermode InteractiveServer

@using CulinaryCommand.Components.Custom

@inject CulinaryCommand.Services.AuthService Auth
@inject NavigationManager Nav


@if (!_ready)
{
    <div class="text-center mt-5">Loading…</div>
}
else if (!Auth.IsSignedIn)
{
    <div class="text-center mt-5">
        You’re not signed in. <button class="btn btn-success" @onclick="() => NavigateToSignIn()">Go to Sign In</button>
    </div>
}
else
{
    <div class="container mt-4">
        @if (Auth.UserRole == "Admin")
        {
            <AdminView />
        }
        else if (Auth.UserRole == "Manager")
        {
            <ManagerView />
        }
        else
        {
            <EmployeeView />
        }
    </div>
}

@code {
    private bool _ready;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await Auth.EnsureHydratedAsync(); // safe here (interactive)
        _ready = true;
        StateHasChanged();

    }

    private void NavigateToSignIn()
    {
        Nav.NavigateTo("/signin");
    }
}