@page "/no-access"
@rendermode InteractiveServer

<div class="signin-container">
    <div class="signin-card">
        <h2>No access</h2>
        <p>
            You successfully signed in with Cognito, but your account isn’t invited/assigned to a restaurant yet.
            Contact an admin to be added.
        </p>

        <a class="btn btn-outline-danger w-100" href="/logout">Log out</a>
    </div>
</div>
