@namespace CulinaryCommand.Components.Custom

<div class="activity d-flex flex-row align-items-center mb-4">
    <div class="icon-box d-flex align-items-center justify-content-center me-4 ms-2"
        style="background-color:#dfdfdf; width:3.5rem; height:3.5rem; border-radius:2rem;">
        <i class="@IconClass fs-2"></i>
    </div>
    <div class="d-flex flex-column justify-content-between" style="height:4rem;">
        <p class="mb-0">
            @Title
        </p>
        <p class="mb-0 text-muted">
            @TimeInfo
        </p>
    </div>
</div>

@code {
    [Parameter] public string Title {get; set; } = "";
    [Parameter] public string TimeInfo {get; set; } = "";
    [Parameter] public string IconClass {get; set; } = "";
    [Parameter] public string BorderClass { get; set; } = "border-bottom";
}

